<?xml version='1.0' encoding='utf-8'?>
<widget id="cz.inited.test.base" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Test - base</name>
    <description>INITED Test base app</description>
    <author email="info@inited.cz" href="http://inited.cz">INITED Solutions s.r.o.</author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <engine name="android" spec="~7.1.4" />
</widget>
